@keyframes slideintop {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(30px);
  }
}

/* general style */
* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
a {
  color: black;
  text-decoration: none;
}
/* header style */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0rem 1rem 0rem;
  background-color: #231f20;
  align-items: center;
  position: fixed;
  top: -70px; /* Hide the navbar above the viewport */
  left: 0;
  width: 100%;
  height: auto;
  z-index: 50;
  transition: 0.7s;
}

.logo {
  width: 19%;
}
.search-bar {
  width: 20%;
}
.search-bar-input {
  border: none;
  width: 100%;
  background-color: lightgray;
  border-radius: 15px;
  padding: 0.5rem 0.3rem;
}
.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  margin-left: 10%;
}
.nav-item {
  color: white;
}

/* hero style */

.hero {
  background-image: url(img/hero.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 550px;
}
.bannerForm .find-friend {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0 90%);
  width: 20%;
  text-align: center;
  background-image: linear-gradient(#9cb9d9, #72a8cf, #4494c3, #1b7db6);
  opacity: 0.8;
  line-height: 2rem;
  padding: 5rem 1.5rem 7rem 1.5rem;
  position: absolute;
  top: 0px;
  left: 170px;
  z-index: 20;
}
.find-friend .form-logo {
  margin-bottom: 5rem;
}
.find-friend .find-friend-child {
  display: block;
}
.find-friend h2 {
  font-size: 2rem;
  color: white;
}
.find-friend h3 {
  color: white;
  font-size: 1rem;
}
.sign-up-form {
  line-height: 4rem;
}
.form-item {
  margin-bottom: 0.5rem;
  padding: 0.6rem 1.2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border: none;
  margin-bottom: 1rem;
}
.sign-up-form .sign-up-btn {
  padding: 0.4rem 1.6rem;
  color: white;
  background-color: gray;
  border: none;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1rem;
}
.sign-up-form .login-link {
  color: white;
}

.main-container {
}

/* social herd style */
.social-herd {
  background: radial-gradient(#e9e7e7, #fff1f5);
  width: 100%;
  height: auto;
  position: relative;

  left: 0px;
  z-index: 10;
  padding-top: 2rem;
  padding-bottom: 10rem;
  text-align: center;
}
.down-arrow-container {
  width: 3%;
  animation: slideintop 2s ease-in infinite;

  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
}
.down-arrow-container i {
  font-size: 2.5rem;
  color: #9cb9d9;
}

.social-herd h2 {
  margin-top: 10rem;
  font-size: 10rem;
  color: lightgray;
  text-align: center;
}
.social-herd .social-herd-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px auto;
  margin: 0px auto;
  width: 73%;
  position: relative;
  top: -50px;
}
.social-herd-menu .items {
  width: 20%;
  text-align: center;
}
.items .item-img {
  width: 50%;
  margin: 0px auto;
  transition: 0.5s;
}
.item-img img {
  width: 100%;
}
.item-img:hover {
  transform: scale(1.2);
}
.digitCodes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.digits {
  background-color: rgb(236, 228, 228);
  margin-left: 1rem;
  padding: 1rem 0.6rem;
  border-radius: 5px;
  font-size: 2rem;
}
.social-herd h3 {
  font-size: 2rem;
  color: lightgray;
  margin-bottom: 2rem;
}
.social-herd h4 {
  color: rgb(126, 124, 124);
  padding: 2rem 0px;
}
.social-herd .map-img {
  position: absolute;
  left: 19%;
  z-index: 30;
}
/* download section */
.download-sec {
  width: 100%;
  height: auto;
  background-color: white;
  text-align: center;
  padding-top: 10rem;
  position: relative;
  left: 0px;

  z-index: 0;
  padding-bottom: 9rem;
}
.download-sec h2 {
  font-size: 10rem;
  color: rgb(235, 227, 227);
  text-align: center;
}
.download-sec .market-platform {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -52px;
}
.app-store,
.play-store {
  background-color: #231f20;
  margin-left: 1rem;
  border-radius: 10px;
  padding: 0.5rem;
  transition: 0.5s;
}
.app-store:hover {
  transform: translateY(-25%);
}
.play-store:hover {
  transform: translateY(-25%);
}

.download-sec h3 {
  font-size: 2rem;
  color: lightgray;
  margin-bottom: 4rem;
}
.mobile-image-container {
}
/* banner of people who using their phone */
.people-banner-phone {
  width: 100%;
  position: relative;
  z-index: 0;
  height: auto;

  left: 0px;
}
.people-img-container {
  width: 100%;
  height: auto;
}
.people-img-container img {
  width: 100%;
}
/* community style */
.community-sec {
  background-image: url(img/trees.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;

  left: 0px;
  z-index: 10;
}
.community-sec .community-container {
  /* width: 50%; */
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-color: #27aae1;
  position: absolute;
  left: 25%;
  top: -20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 40;
}
.community-container .community-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.community-item .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #35afe3;
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.7rem;
}

.c {
  font-size: 2rem;
  color: white;
}
/* live feed section */
.live-feed-sec {
  width: 100%;
  height: auto;
  background-color: white;
  position: relative;
  left: 0px;
  z-index: 0;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  border-bottom: 4px solid rgb(89, 172, 200);
}
.live-feed-sec h2 {
  font-size: 10rem;
  color: rgb(235, 227, 227);
  text-align: center;
}
.live-feed-sec .live-people {
  display: flex;
  flex-direction: row;
  width: 35%;
  position: absolute;
  left: 33%;
  top: 26%;
}

.live-people .live-person {
  border-radius: 50%;
  margin-left: 1rem;
}
.live-people .live-person img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.live-feed-sec h3 {
  font-size: 2rem;
  color: lightgray;
  margin-bottom: 5rem;
  margin-top: 3rem;
}
.live-feed-sec .live-people-with-time {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.live-people-with-time .online-people-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.online-people-row .online-person {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  justify-content: center;
  margin-left: 2rem;
  padding: 0.5rem;
}
.online-person .profile-container {
  width: 28%;
  margin-top: auto;
}
.online-person .desc {
  text-align: left;
  line-height: 1.5rem;
  font-size: 0.7rem;
  margin-left: 1rem;
  align-items: center;
}
.desc .name {
  color: blue;
}
.online-person .profile-container img {
  width: 100%;
  border-radius: 50%;
}
/* footer style */
.footer-container {
  width: 100%;
  background-color: white;
  height: auto;
  position: relative;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 6rem 2rem;

  color: rgb(117, 106, 106);
}
li {
  color: #35afe3;
}
li a {
  color: rgb(117, 106, 106);
}
.footer-container .logo-social {
  line-height: 4rem;
  margin-left: 2rem;
}
.logo-social .social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-media-links .social-link {
  padding: 0px 0px;
  margin-left: 1rem;
}
.footer-container .for-individuals {
  line-height: 1.4rem;
  margin-left: 2rem;
}
.footer-container .for-businesses {
  line-height: 1.4rem;
  margin-left: 2rem;
}
.footer-container .about {
  line-height: 1.4rem;
  margin-left: 2rem;
}
.header-col-footer {
  color: rgb(107, 168, 233);
  margin-bottom: 1rem;
}
.footer-container .contact-us {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  margin-left: 2rem;
}
.tel,
.email,
.loc {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon-container {
  width: 10%;
}
.icon-container img {
  width: 45%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header-container {
    justify-content: center;
  }
  .navigation-bar {
    width: 35%;
  }
  .community-container {
    width: 600px;
    height: 600px;
    left: 10%;
  }
  .map-img {
    left: 15%;
  }
}
@media screen and (max-width: 768px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  body {
    overflow: hidden;
  }

  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
}
